/* Hero */
#hero-sejarah .jumbotron {
  background-image: url(../assets/illustrasi/ilustrasi-sejarah.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40vh;
}

#hero-sejarah .jumbotron h1.h1 {
  max-width: 60%;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}

#hero-sejarah .jumbotron h1.display-4 {
  font-family: Nunito Sans;
  font-weight: 700;
}

/* end Hero */
