/* import */

/* font Nunito 600, 700, Nunito Sans 600 */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Nunito:wght@600;700&display=swap");

/* end import */

/* variable */

:root {
  --dark: #1d3547;
}

/* end variable */

/* navbar */
nav.navbar figure {
  width: 65px;
  height: 67px;
}

nav.navbar a.navbar-brand h3,
nav.navbar a.navbar-brand h6 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--dark);
}

nav.navbar a.navbar-brand h3 {
  font-size: 24px;
}

nav.navbar a.navbar-brand h6 {
  font-size: 14px;
}

nav.navbar ul.navbar-nav {
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

nav.navbar ul.navbar-nav .active {
  color: var(--dark);
}

/* end navbar */
